body {
	font-family: 'Playfair Display', serif;  	
}

#content {
	margin: auto;
}

#row {
	margin-top: 25px;
	margin-bottom: 40px;
}

#inner {
	display: inline-block;
	margin: 0 auto;
}

#photo {
	margin-right: -70px;
}