<ul>
<li> 2015 New York City Energy "Lawyer of the Year", Best Lawyers in America </li>
<li> "Financing Regional Transport Projects: To P3 or not to P3?", Co-Chair, Program Sponsored by the Project Finance Committee of The New York City Bar Association, New York, 26 January, 2010 </li>
<li>"U.S. Deal Market: 2009 Year in Review", Panelist, Webinar Presented by The Deal, New York, 17 December 2009 </li>
<li> "The Truth About Investment In Alternative Energy; Hot Deals or Hot Air?", Renewable Energy Seminar Co-Sponsored by Butzel Long and Butzel Long Tighe Patton, The University Club, Washington, D.C., 15 October 2009 </li>
<li> "Mergers and Acquisitions: A Practical Perspective", <em> Structuring M&#38;A Transactions </em>, Aspatore Books, 2007 </li>
<li> "Transaction Costs", <em>Negotiating and Drafting Contract Boilerplate</em> (Tina L. Stark, Editor), ALM Publishing, 2003</li>
</ul>