<ul>
<li>Represented a leading Madrid-based multinational construction and infrastructure group in the acquisition of a major New England-based heavy civil construction company</li>
<li>Represented a publicly traded diversified resources company in the formation of a $300 million joint venture to build, develop, and operate a diesel refinery in southwest North Dakota</li>
<li>Represented a publicly traded diversified resources company in the acquisition of more than 40 construction materials, construction, and other businesses since 1997 for a total of more than $900 million</li>
<li>Represented a publicly traded diversified resources company in the acquisition of two gas utilities for a total of approximately $800 million</li>
<li>Represented a private equity firm in connection with the recapitalization of an engineering business</li>
<li>Represented an infrastructure investment fund with the acquisition of port facilities and in proposals to acquire other infrastructure assets</li>
<li>Represented one of Greece's largest business enterprises in the $650 million acquisition of the U.S. operations of a major multinational construction materials company</li>
<li>Representation of a multinational engineering and infrastructure services company as major shareholder in a consortium formed to tender a proposal for the build-operate-transfer concession for the $2 billion Tel Aviv Red Line light rail project</li>
<li>Represented the sellers in connection with the sale of the build-operate-transfer franchise for a state highway in California</li>
<li>Represented a publicly-held utility holding company in proposed $3 billion acquisition by private equity investors</li>
<li>Represented a publicly held gas distribution utility in proposed $2.9 billion acquisition of electric utility</li>
<li>Represented a multinational engineering and infrastructure services firm in the acquisition of engineering businesses in Australia, the United Kingdom, and the United States</li>
<li>Represented an infrastructure investment fund in proposal to acquire port facilities</li>
</ul>