<p>Richard Green’s deep experience in complex transactions and corporate governance enables him to provide practical, business-oriented strategic advice to clients (including investors, management and boards of directors) on a broad range of issues.</p>

<p>In serving clients, Richard is dedicated to understanding the client’s objectives and concerns, identifying the fundamental questions and the risks and benefits involved, and implementing the chosen course of action.  He has regularly assisted clients in pinpointing areas of risk and helping to develop effective mitigation plans in the areas of regulatory compliance (e.g., Sarbanes-Oxley Act matters), operational risks, and contract compliance and risk allocation.</p>

<p>Richard’s advice to foreign clients encompasses legal issues that impact their foreign operations and facilities in today’s highly competitive business environment.</p>

<p>Services to clients include advice regarding the following:</p>
<ul>
<li>Organizational documents for corporations, limited liability companies, and general and limited partnerships</li>
<li>Purchase and sale agreements </li>
<li>Investment agreements</li>
<li>Stockholders’ agreements</li>
<li>Registration rights agreements</li>
<li>Voting and investor rights agreements</li>
<li>Distribution agreements</li>
<li>Employment agreements</li>
<li>Disclosure documents, including private placement memoranda and registration statements filed with the SEC</li>
<li>Periodic SEC reports</li>
<li>SEC Schedules 13D and 13G</li>
<li>Rights Plans</li>
</ul>

<p>Richard also regularly assists clients in due diligence investigations, general business planning, and the evaluation and management of disputes.  </p>
